.information {
  text-align: center; }

.field {
  margin-left: auto;
  margin-right: auto;
  background-color: #84c3f8; }
  .field th {
    padding: 10px; }
  .field td {
    padding: 10px; }

.red {
  background-color: #d50004;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  opacity: 1; }

.yellow {
  background-color: #ecec00;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  opacity: 1; }

.empty {
  background-color: grey;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  opacity: 1; }

.picker {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #53951f;
  -webkit-transition: 0.2s linear; }
  .picker.inactive {
    border-top: 50px solid #84c3f8; }

.postGameOptions {
  -webkit-transition: all 1s linear;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white; }
  .postGameOptions .options {
    position: relative;
    top: 45%;
    transform: translateY(-50%); }
    .postGameOptions .options h1 {
      font-style: italic;
      font-size: 64px; }
  .postGameOptions.inactive {
    visibility: hidden;
    opacity: 0; }
