.lobbyGame{
    width: 30%;
    margin: 1%;
    padding: 2%;
    border: 1px solid;
    float: left;
}
.lobbyGameCreateButton{
    clear: both;
}

.gameFade.ng-enter {
    animation: my_fade_animation 2s linear;
    -webkit-animation: my_fade_animation 2s linear;
}

@keyframes my_fade_animation {
    from { opacity:0; }
    to { opacity:1; }
}

@-webkit-keyframes my_fade_animation {
    from { opacity:0; }
    to { opacity:1; }
}

.gameFade.ng-leave {
    animation: my_fade_animation2 2s linear;
    -webkit-animation: my_fade_animation2 2s linear;
}

@keyframes my_fade_animation2 {
    from { opacity:1; }
    to { opacity:0; }
}

@-webkit-keyframes my_fade_animation2 {
    from { opacity:1; }
    to { opacity:0; }
}