.lobbyGame{
    width: 30%;
    margin: 1%;
    padding: 2%;
    border: 1px solid;
    float: left;
}
.lobbyGameCreateButton{
    clear: both;
}

/*TODO: ngAnimate: geef voor ng-enter en ng-leave aan wat er in de overeenkomstige situatie moet gebeuren, maak eventueel gebruik van keyframes */
