<div id="chatbox">
    <aside id="usersOverview">
        <div id="usersHeader">Users</div>
        <ul id="connectedUsersList">
            <li class="connectedUser" ng-repeat="user in connectedUsers" ng-click="openPrivateChat(user)">{{user.username}}</li>
        </ul>
    </aside>
    <section id="textbox">
        <tabset>
            <tab class='chatTabs' ng-repeat="tab in tabs" ng-click="scrollDown(tab)" active="tab.active">
                <tab-heading>{{tab.username}}</tab-heading>
                <!--<tab-heading>{{tab.username}}  <i class="glyphicon glyphicon-remove" ng-show="isPrivateChatTab(tab.username)" ng-click="closePrivateChatTab(tab.username)"></i></a></tab-heading>-->
                <ul class="messages">
                    <li class="message" ng-repeat="message in tab.messages">
                        <div class="loggingMessage" ng-if="message.logging">
                            <span class="usernameLogMessage">{{message.user}}</span> {{message.message}}
                        </div>
                        <div ng-if="!message.logging">
                            <span class="usernameMessage">{{message.sender}}</span> {{message.message}}
                        </div>
                    </li>
                </ul>
            </tab>
        </tabset>
    </section>
    <section id="inputbar">
        <form ng-submit="sendMessage()">
            <input class="form-control" id="textinput" type="text" ng-model="textInput">
            <input class="btn btn-primary" type="submit" value="Send">
        <form>
    </section>
</div>