<div class="information">
    <h4>Game.turnText: {{game.turnText}}</h4>
</div>
<div class="gameField">
    <table class="fieldTable">
        <thead>
        <tr>
            <th ng-repeat="(n, col) in game.board[0] track by $index" class="col-md-1">
                <div ng-click="game.play(n)" class="picker" ng-class="{'inactive': !game.myTurn}"></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in game.board">
            <td ng-repeat="col in row track by $index">
                <div ng-class="{empty: col === 0, yellow: col === 1, red: col === 2, circle: true}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="options">
    <div class="optionLeft">
        <h4>Game.result: {{game.result}}</h4>
        <h5>game.waitingForRematch: Waiting for opponent..</h5>
    </div>
    <div class="optionRight">
        <button class="btn" ng-click="game.requestRematch()">Rematch?</button>
        <button class="btn" ng-click="game.leave()">Leave</button>
    </div>
</div>