<div>
    <h2>Leaderboards</h2>
    <pagination total-items="players.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Username</td>
                    <td>Ranking Points</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players | orderBy:'-points' | offset: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
                    <td>{{player.name}}</td>
                    <td>{{player.points}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="update()">Update</button>
</div>