<h2>Lobby</h2>
<!--TODO 04: Maak een textinput waar kan aangegeven worden op welke spelers gefilterd moet worden voor de huidige games, en link aan model 'searchPlayer' -->
<!--TODO 01: Maak een checkbox waar aangevinkt kan worden of alleen de openstaande games getoond worden, link aan model 'openGamesOnly' -->
<div>
    <!--TODO 02: filter de games inline zodat enkel de openstaande games mee in rekening gebracht worden voor het totale aantal items in de paginatie -->
    <!--TODO ??: maak paginatie aan, gebruik itemsPerPage, currentPage en maxSize uit scope (zie LobbyController), zorg voor boundary links -->
    <!--TODO 05: maak gebruik van een externe filter (playerfilter, geef de juiste parameters mee aan de filter) zodat enkel de games te tonen waarvan de host of de challenger de ingegeven waarde bevat mee in rekening gebracht worden voor het totale aantal items in de paginatie -->
</div>
<!--TODO 03: filter de games inline zodat enkel de openstaande games getoond worden -->
<!--TODO ??: pas het aantal getoonde games aan in functie van de paginatie, gebruik als filters: "offset: (currentPage-1)*itemsPerPage" en "limitTo: itemsPerPage" -->
<!--TODO 05: maak gebruik van een externe filter (playerfilter, geef de juiste parameters mee aan de filter) om enkel de games te tonen waarvan de host of de challenger de ingegeven waarde bevat -->
<div class="lobbyGame gameFade" ng-repeat="game in games">
    <div class="">
        <p>{{game.name}}</p>
        <p>Host: {{players[game.host-1].name}} ({{players[game.host-1].points}})</p>
        <p ng-show="game.challenger">Challenger: {{players[game.challenger-1].name}} ({{players[game.challenger-1].points}})</p>
        <p>Rules: {{game.rated ? "Rated" : "Unrated"}} game</p>
        <p ng-show="game.watchers.length > 0">Watchers: <span ng-repeat="watcher in game.watchers">{{players[watcher-1].name}} </span></p>
    </div>
    <div class="">
        <button class="btn" ng-show="game.challenger === null" ng-click="joinGame(game.gameId)">Join!</button>
        <button class="btn" ng-show="game.challenger !== null" ng-click="watchGame(game.gameId)">Watch!</button>
    </div>
</div>
<div class="lobbyGameCreateButton">
    <button class="btn" ng-click="createGame()">+ Create Game</button>
</div>
