<h2>Lobby</h2>
<div>
    <pagination total-items="games.length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
</div>
<div class="lobbyGame" ng-repeat="game in games | offset: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
    <div class="">
        <p>{{game.name}}</p>
        <p>Host: {{players[game.host-1].name}} ({{players[game.host-1].points}})</p>
        <p ng-show="game.challenger">Challenger: {{players[game.challenger-1].name}} ({{players[game.challenger-1].points}})</p>
        <p>Rules: {{game.rated ? "Rated" : "Unrated"}} game</p>
        <p ng-show="game.watchers.length > 0">Watchers: <span ng-repeat="watcher in game.watchers">{{players[watcher-1].name}} </span></p>
    </div>
    <div class="">
        <button class="btn" ng-show="game.challenger === null" ng-click="joinGame(game.gameId)">Join!</button>
        <button class="btn" ng-show="game.challenger !== null" ng-click="watchGame(game.gameId)">Watch!</button>
    </div>
</div>
<div class="lobbyGameCreateButton">
    <button class="btn" ng-click="createGame()">+ Create Game</button>
</div>
