<div class="chatDiv">
    <div id="chatbox">
        <aside>
            <!--TODO: maak directives van de chatterslist en de chatters-->
            <!--<my-chat-list></my-chat-list>-->
            <div id="usersHeader">Users</div>
            <ul id="connectedUsersList">
                <!--<my-chatter ng-repeat="user in connectedUsers"></my-chatter>-->
                <li class="connectedUser" ng-repeat="user in connectedUsers" ng-click="openPrivateChat(user)">{{user.username}}</li>
            </ul>
        </aside>
        <section id="textbox">
            <!--TODO: zet hier een tabset boven, zie angular UI bootstrap-->
            <!--<tabset>-->
                <!--<tab class='chatTabs' ng-repeat="tab in tabs" ng-click="scrollDown(tab)" active="tab.active">-->
                    <!--<tab-heading>{{tab.username}}</tab-heading>-->
                    <ul class="messages">
                        <!--TODO: pas settings hier aan zodat de messages uit de tab-messages worden opgehaald-->
                        <li class="message" ng-repeat="message in messages">
                        <!--<li class="message" ng-repeat="message in tab.messages">-->
                            <div class="loggingMessage" ng-if="message.logging">
                                <span class="usernameLogMessage">{{message.user}}</span> {{message.message}}
                            </div>
                            <div ng-if="!message.logging">
                                <span class="usernameMessage">{{message.sender}}</span> {{message.message}}
                            </div>
                        </li>
                    </ul>
                <!--</tab>-->
            <!--</tabset>-->
        </section>
        <section id="inputbar">
            <form ng-submit="sendMessage()">
                <input class="form-control" id="textinput" type="text" ng-model="textInput">
                <input class="btn btn-primary" type="submit" value="Send">
            </form>
        </section>
    </div>
</div>